.btn-cstm-inv{
    background-color: #b0160c;
    color: #f8ca96;
}
.btn-cstm-inv:hover{
    background-color: #57080C;
    color: #f8ca96;
}
.cstm-clr{
    color: #f8ca96;
}
.txt-cstm{ 
    color: 'ffc107'; 
}